[Desktop Entry]
Encoding=UTF-8
Name=Link to Hello World I wrote the first draft of this post on my flight from JFK to Cartagena, and I’m embarrassed to say that I almost didn’t get on the plane.
Type=Link
URL=http://www.google.com/
Icon=text-html
